/* Credits */

.credits {
  padding: 50px 0;
}
.credits__card {
  padding: 40px 25px;
  background-color: #f8f8f8;
  border-radius: 30px;
}
.credits__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.credits__header-info {
  max-width: 320px;
}

.credits__titles {
  margin-top: 45px;
  display: grid;
  grid-template-columns: 3fr 3fr repeat(3, 1.5fr) repeat(2, 2fr);
  gap: 10px;

  font-weight: 400;
  color: var(--muted);
}
@media (max-width: 1000px) {
  .credits__titles {
    grid-template-columns: 2.5fr 2fr repeat(3, 1fr);
  }
  .credits__titles span:nth-child(5),
  .credits__titles span:nth-child(4) {
    display: none;
  }
}
.credits__titles span:first-child {
  grid-column-start: 2;
  margin-left: 7px;
}

.credits__item {
  padding: 15px 0;

  display: grid;
  grid-template-columns: 1fr 2fr 3fr repeat(3, 1.5fr) repeat(2, 2fr);
  align-items: center;
  gap: 10px;

  font-size: 18px;
}

@media (max-width: 1000px) {
  .credits__item {
    grid-template-columns: 0.5fr 2fr 2fr repeat(3, 1fr);
  }
  .credits__item span:nth-child(5),
  .credits__item span:nth-child(4) {
    display: none;
  }
}
.credits__item:not(:last-child) {
  border-bottom: 1px solid var(--muted);
}
.credits__item img {
  max-width: 50px;
}

.credits__card-btn {
  padding: 10px 25px;
  font-size: 14px;
  max-width: 135px;
}

.credits__btn-show-more__wrapper {
  margin-top: 40px;
  text-align: center;
}
.credits__btn-show-more {
  border-radius: 10px;
  padding: 10px 25px;
}
.credits-media__btn-show-more {
  display: none;
}
.credits-media__banks {
  display: none;
}
.credits-media__swiper-bank {
  max-width: 400px;
}
/* Credits Media */
@media (max-width: 768px) {
  .map {
    padding: 50px 0 0 0;
  }
  .credits .container {
    padding: 0;
  }
  .credits {
    padding: 0;
  }
  .credits__card {
    border-radius: 0;
    padding: 60px 25px;
  }
  .credits__banks {
    display: none;
  }
  .credits-media__banks {
    display: block;
  }
  .credits__header {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
  }
  .credits__btn-show-more {
    display: none;
  }
  .credits-media__btn-show-more {
    display: block;
    padding: 10px 25px;
  }
}
.cards-swiper__card {
  max-width: 350px;
}
.credits-media__banks {
  margin-top: 20px;
}
.credits-media__bank-header {
  display: flex;
  align-items: center;
  column-gap: 10px;

  h3 {
    font-weight: 500;
  }
}
.credits-media__swiper-list {
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  row-gap: 10px;

  li:nth-child(odd) {
    color: var(--muted);
  }
}
.credits__card-btn {
  margin-top: 20px;
}
